.header-container{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #shop-logo{
    height: 100px;
}
.header-icon{
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 20;
    margin-left: 30px;



}
.header-icons{
    margin-top: 20;
    margin-left: 30px;
}


