<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Website form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" type="text/css" href="/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	</head>
	<body>

    <div class="navbar">
        <img src="/assets/images/logo.png" alt="Logo">		  
    
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div> 
</div>
    <form id="survey" method="post">

        <!-- Progress bar -->
        

        <h2></h2>
        <div class="inner">
            <div class="form-content" >
                <div class="form-header">
                    <h3>About you</h3>
                </div>
                <div class="form-row">
                    <div class="form-holder">
                        <input required type="text" name="firstName" placeholder="First Name" class="form-control">
                    </div>
                    <div class="form-holder">
                        <input type="text" name="lastName" placeholder="Last Name" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder">
                        <input required  type="text" name="email" placeholder="Your Email" class="form-control">
                    </div>
                    <div class="form-holder">
                        <input type="text" name="phoneNumber" pattern="^\d{10}$" placeholder="Phone Number" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder">
                        <input type="text"  name="age" placeholder="Age" class="form-control">
                    </div>
                    <div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
                        <div class="checkbox-tick">
                            <label class="male">
                                <input type="radio" name="gender" value="male" checked> Male<br>
                                <span class="checkmark"></span>
                            </label>
                            <label class="female">
                                <input type="radio" name="gender" value="female"> Female<br>
                                <span class="checkmark"></span>
                            </label>
                            
                        </div>
                    </div>
                </div>
            </div>  
        </div>
        <div class="inner">

            <div class="form-content">
                <div class="form-header">
                    <h3>Website</h3>
                </div>
                <div id="websiteimg">
                    <a href="https://camposcoffee.com" target="_blank" >
                        <img src="/assets/images/webpage.png" alt="">                    </a>
                   
                </div>	
                
            </div>
        </div>
        <div class="inner">
            <div class="form-content">
                <div class="form-header">
                    <h3>Survey</h3>
                </div>
                
                <div class="form-row">
                    <div class="form-holder w-100">
                        <textarea name="reaction" id="reaction" placeholder="What is your first reaction to the website?" class="form-control" style="height: 99px;"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-holder w-100">
                        <textarea name="change" id="change" placeholder="Is there anything you would like to change?" class="form-control" style="height: 99px;"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="dropdown">
                        <label for="frequencyDrink">How often do you drink coffee?</label>
                        <select class="minimal" name="frequencyDrink">
                            <option name="frequencyDrink" value="Every day">Every day</option>
                            <option name="frequencyDrink" value="Every other day">Every other day</option>
                            <option name="frequencyDrink" value="Once per week">Once per week</option>
                            <option name="frequencyDrink" value="Occationally">Occationally</option>
                            <option name="frequencyDrink" value="Seldom">Seldom</option>
                            <option name="frequencyDrink" value="Never">Never</option>
                        </select>
                    </div>
                    <div  class="dropdown">
                        <label for="hotOrIced">Do you prefer iced or hot coffee?</label>
                        <select class="minimal" name="hotOrIced">
                            <option name="hotOrIced" value="Hot coffee">Hot coffee</option>
                            <option name="hotOrIced" value="Iced coffee">Iced coffee</option>
                            <option name="hotOrIced"  value="Neither">Neither</option>
                        </select>
                    </div>
                </div>
                <div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">
                    <div class="checkbox-tick">
                        <div class="qest">What do you have with your coffee? </br></br></div>
                        <label class="milk">
                            <input type="checkbox" name="side" value="milk" checked> Milk<br>
                            <span class="checkmark"></span>
                        </label>
                        <label class="suger">
                            <input type="checkbox" name="side" value="sugar">Sugar<br>
                            <span class="checkmark"></span>
                        </label>
                        <label class="sweetener">
                            <input type="checkbox" name="side" value="sweetener">Sweetener<br>
                            <span class="checkmark"></span>
                        </label>
                        <label class="other">
                            <input type="checkbox" name="side" value="other"> Other<br>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="checkbox-circle mt-24">
                    <label>
                        <input type="checkbox" checked>  Please accept that we will save your answers!
                        <span class="checkmark"></span>
                    </label>
                </div>
               
            
                
            </div>
        </div>
       
            
        </div>
        <button type="submit" class="btn btn-warning" id="bb">Submit</button>
				<p id="thanks"></p>
        
    </form>

    <script>
        // When the user scrolls the page, execute myFunction 
        window.onscroll = function() {myFunction()};

        function myFunction() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
        }
    </script>

</body>