<html>
  <head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
		<title>Website form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" type="text/css" href="../public/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet"  type="text/css" href="../public/assets/css/style.css">

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
    <div class="navbar">
      <img src="../public/assets/images/logo.png" alt="Logo">		  
    </div>
	<div id="survey">
    <h1>Survey</h1>
    <form>
      <h2> What fruits(s) do you like? </h2>
      I like:<br>
      <input type="text" name="fruit" placeholder="fruit name..." required />
      <br>
      <br>
      <h2> What color(s) do you like? </h2>
	    I like:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <br>
      <h2>What is your favorite animal?</h2>
      I like:<br>
      <select name="animal">
			  <option value="Cat" selected="selected">Cat</option>
			  <option value="Dog">Dog</option>
			  <option value="Turtle">Turtle</option>
      </select>
      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 



<div>
  <label for="frequencyDrink">How often do you drink coffee?</label>
  <select class="select" name="frequencyDrink">
      <option name="frequencyDrink" value="Every day">Every day</option>
      <option name="frequencyDrink" value="Every other day">Every other day</option>
      <option name="frequencyDrink" value="Once per week">Once per week</option>
      <option name="frequencyDrink" value="Occationally">Occationally</option>
      <option name="frequencyDrink" value="Seldom">Seldom</option>
      <option name="frequencyDrink" value="Never">Never</option>
  </select>
</div>
<div>
  <label for="frequencyDrink">Do you prefer iced or hot coffee?</label>
  <select class="select" name="frequencyDrink">
      <option name="hotOrIced" value="Hot coffee">Hot coffee</option>
      <option name="hotOrIced" value="Iced coffee">Iced coffee</option>
      <option name="hotOrIced"  value="Neither">Neither</option>
  </select>
</div>