<html>
  <head>
    <title>Questionnaire</title>
    <meta charset="utf-8">
		<title>Website form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" type="text/css" href="../public/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet"  type="text/css" href="../public/assets/css/style.css">

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
    <div class="navbar">
      <img src="../public/assets/images/logo.png" alt="Logo">		  
    </div>
	<div id="survey">
    <h1>Survey</h1>
    <form>
      <h2> What fruits(s) do you like? </h2>
      I like:<br>
      <input type="text" name="fruit" placeholder="fruit name..." required />
      <br>
      <br>
      <h2> What color(s) do you like? </h2>
	    I like:<br>
		  <input type="checkbox" name="color" value="Red"> Red<br>
		  <input type="checkbox" name="color" value="Green"> Green<br>
      <input type="checkbox" name="color" value="Blue"> Blue<br>
      <br>
      <h2>What is your favorite animal?</h2>
      I like:<br>
      <select name="animal">
			  <option value="Cat" selected="selected">Cat</option>
			  <option value="Dog">Dog</option>
			  <option value="Turtle">Turtle</option>
      </select>
      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 




<div class="select">
  <div class="form-holder">
    <div class="select-control">How often do you drink coffee?</div>
    <i class="zmdi zmdi-caret-down"></i>
  </div>
  <ul name="frequencyDrink" class="dropdown">
    <li name="frequencyDrink" rel="Every day">Every day</li>
    <li name="frequencyDrink" rel="Every other day">Every other day</li>
    <li name="frequencyDrink" rel="Once per week">Once per week</li>
    <li name="frequencyDrink" rel="Occationally">Occationally</li>
    <li name="frequencyDrink" rel="Seldom">Seldom</li>
    <li name="frequencyDrink" rel="Never">Never</li>

  </ul>
</div>
<div class="minimal">
  <div class="form-holder">
    <div class="select-control">Do you prefer iced or hot coffee?</div>
    <i class="zmdi zmdi-caret-down"></i>
  </div>
  <ul name="hotOrIced" class="dropdown">
    <li name="hotOrIced" rel="Hot coffee">Hot coffee</li>
    <li name="hotOrIced" rel="Iced coffee">Iced coffee</li>
    <li name="hotOrIced" rel="Neither">Neither</li>
  </ul>
</div>
