
.About{ 
  background-color: #E4F4F5;
}

.body { 
    height:100%;
    background-size:cover;
    background-color: #E4F4F5;
  }

  .about-us{ 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.aboutImage{
  width: 500px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  box-shadow: 15px 15px #86D0C6;
  margin-top:150px;
  margin-left: 900px;
}

  .about-title{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 10rem;
    margin-left: 10rem;
    font-family: Lobster;
    font-weight: Regular;
    font-size: 75px;
    text-shadow: -1px -1px 0 rgb(12, 24, 92), 1px -1px 0 rgb(12, 24, 92), -1px 1px 0 rgb(12, 24, 92), 1px 1px 0 rgb(12, 24, 92);
  }

  .info{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 20rem;
    margin-left: 10rem;
    margin-right: 60rem;
    font-family: Libre Franklin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;

  }

  .book{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 35rem;
    margin-left: 10rem;
    margin-right: 60rem;
    font-family: Libre Franklin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  

