
.Review{ 
  background-color: #E4F4F5;
  height:100vh;
}

.body { 
    height:100%;
    background-size:cover;
    background-color: #E4F4F5;
  }

  .customer-reviews{ 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.reviewImg{
  width: 500px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  box-shadow: 15px 15px #86D0C6;
  margin-top: 25px;
  margin-left: 900px;
}

  .review-title{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 10rem;
    margin-left: 10rem;
    font-family: Lobster;
    font-weight: Regular;
    font-size: 40px;
    text-align: center;
    text-shadow: -1px -1px 0 rgb(12, 24, 92), 1px -1px 0 rgb(12, 24, 92), -1px 1px 0 rgb(12, 24, 92), 1px 1px 0 rgb(12, 24, 92);
  }
  .review-subtitle{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 10rem;
    margin-left: 10rem;
    font-family: Libre Franklin;
    font-weight: Regular;
    font-size: 24px;
    text-align: center;
    text-shadow: -1px -1px 0 rgb(12, 24, 92), 1px -1px 0 rgb(12, 24, 92), -1px 1px 0 rgb(12, 24, 92), 1px 1px 0 rgb(12, 24, 92);
  }

  .review-body{
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: 20rem;
    margin-left: 10rem;
    margin-right: 60rem;
    font-family: Libre Franklin;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;

  }
.button{
  max-width: 400px;
}
.info{
  font-size: small;
  text-align: left;
  position: absolute;
}

  
.translate {
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  color: #3D3D3D;
  background: #86D0C6;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 20px;
}
.translate:disabled{
 opacity: 0.6;
 cursor: not-allowed;
}

